body {
    font-family: "Gloria Hallelujah", cursive;
    background-color: darkslategray;
    background-size: cover;
    color: whitesmoke;
}

.flex-container {
    display: flex;
    justify-content: center; /* align horizontally */
    align-items: center; /* align vertically */
    height: 100vh;
}
